

/* ******************** order *************** */
.order{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order h2{
    margin: 0;
}

.order .order-container{
    gap: 8%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.order .order-container .container-img{
    width: 45%;
    min-width: 270px;
}

.order .order-container .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}

.order .order-container .form div label{
    display: block;
}

.order .order-container .form div input{
    width: 100%;
    min-width: 240px;
    height: auto;
    padding: 5px 10px;
    font-size: clamp(12px , 1vw , 20px);
    border: 1px solid #a8a8a8;
    background-color: #e4e4e4;
    border-radius: 3px;
}

.record{
    width: 60%;
    padding: 3px 0;
    margin-top: 10px;
    border: none;
    background-color: #fac031;
    color: #fff;
    font-size: clamp(13px , 1.1vw , 22px);
    border-radius: 3px;
    transition: 0.3s;
}

.record:hover{
    scale: 1.05;
}

.record:active{
    scale: 1;
}



@media(max-width:768px){
    .order .order-container .container-img{
        width: 65%;
    }
    .order .order-container{
        flex-direction: column;
    }
}

@media(max-width:550px){
    .order .order-container .container-img{
        width: 100%;
    }
    .order .order-container .form{
        grid-template-columns: 1fr;
    }
}